body{
    text-align: center;
}

.box-container{
    display: flex;
    margin: 30px;
    justify-content: center;
}

.box{
    border: 10px solid black;
    border-radius: 20%;
    height: 150px;
    width: 150px;
    margin: 30px;
}

.red{
    background-color: rgb(169 54 54)
}
.green{
    background-color: rgb(45, 141, 45);
}
.yellow{
    background-color: #b2b255;
}
.orange{
    background-color: rgb(139, 95, 14);
}

.flash{
    background-color: white;
}